repos:
- repo: https://github.com/ambv/black
  rev: 25.11.0
  hooks:
  - id: black
    language_version: python3.10
- repo: https://github.com/PyCQA/flake8
  rev: 7.3.0
  hooks:
  - id: flake8
    language_version: python3.10
- repo: https://github.com/pycqa/isort
  rev: 7.0.0
  hooks:
    - id: isort
      name: isort (python)
- repo: https://github.com/ComPWA/taplo-pre-commit
  rev: v0.9.3
  hooks:
    - id: taplo-format


- repo: local
  hooks:
  - id: bandit
    name: Bandit
    files: '.+\.py'
    exclude: 'tests/.*'
    entry: bandit
    language: python
  - id: python-safety-dependencies-check
    entry: bash
    name: Safety
    args: [-c, "pip freeze | safety scan --stdin --full-report"]
    language: system
    pass_filenames: false
