name: Deploy

on:
  pull_request:

env:
  python-version: "3.13"

jobs:
  deploy:
    environment: Test PyPI
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5

    - name: Set up Python
      uses: actions/setup-python@v6
      with:
        python-version: "3.10"

    - name: Build wheel
      run: |
        pip wheel --no-deps --wheel-dir dist/ .

    - name: Publish package to PyPI
      uses: pypa/gh-action-pypi-publish@release/v1
      with:
        repository-url: ${{ vars.PYPI_REPOSITORY_URL }}
        attestations: true
