name: Main

on:
  workflow_dispatch:

  

jobs:
  test-all-platforms:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest]
        python-version: ["3.10", "3.11", "3.12", "3.13"]

    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v5

    - name: Set up Python 3.12
      uses: actions/setup-python@v6
      with:
        python-version: "3.12"

    - name: Install Spatialite
      uses: ./.github/actions/install-spatialite
      with:
        os: macos-latest

    - name: Install
      run: |
        pip install .[models,dev]

    - name: Run tests
      run: |
        cd tests
        pytest .

